<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
  <div id="app">
    <h2>Books</h2>
    <div v-for="(book, n) in books">
      <p>
        <span class="cat">{{ book }}</span>
        <button @click="removeBook(n)">Remove</button>
      </p>
    </div>
  
    <p>
      <input v-model="newBook">
      <button @click="addBook">Add Book</button>
    </p>
  </div>

  <script>
    const STORAGE_KEY = 'books'
    let app = new Vue({
      el:'#app',
      data(){
        return {
          books: [],
          newBook: null
        }
      },
      mounted() {
    if (localStorage.getItem(STORAGE_KEY)) {
      try {
        this.books = JSON.parse(localStorage.getItem(STORAGE_KEY));
      } catch(e) {
        localStorage.removeItem(STORAGE_KEY);
      }
    }
  },
  methods: {
    addBook() {
      // 実際に何かしたことを入力する
      if (!this.newBook) {
        return;
      }

      this.books.push(this.newBook);
      this.newBook = '';
      this.saveBooks();
    },
    removeBook(x) {
      this.books.splice(x, 1);
      this.saveBooks();
    },
    saveBooks() {
      const parsed = JSON.stringify(this.books);
      localStorage.setItem(STORAGE_KEY, parsed);
    }
  }
    })
  </script>
</body>
</html>